<!--  box for list Team Details -->
<div class="box">
  <div class="box-header">
    <button type="button" class="btn btn-success right-side" (click)="openModal(teamModel)">Create</button>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- list Team Details -->
  <div class="box-body table-responsive no-padding">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let team of teams">
        <input type="button" (click)="deleteTeam(team.name)" value="Delete {{team.name}}">
        <mat-expansion-panel-header>
          <mat-panel-title class="primary">
            Team : {{team.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{team.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <div class="box">
            <div class="box-header">
              <button type="button" class="btn btn-success right-side" (click)="openModal(groupModel,team.name)">
                {{team.name}} Create Group
              </button>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="box">
                      <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Group Name</th>
                            <th>Icon</th>
                            <th>Action</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let group of team.groups">
                            <td>{{group.name}}</td>
                            <td><img src="{{group.icon}}" style="width: 50px;height: 50px"></td>
                            <td>
                              <a (click)="deleteGroup(group._id)">
                                <i class="fa fa-fw   fa-trash fa-2x text-danger"></i>
                              </a>
                              <a (click)="editOpenModal(groupEdModel,group._id)">
                                <i class="fa fa-fw   fa-edit fa-2x text-primary"></i>
                              </a>
                            </td>
                          </tr>
                          </tbody>
                          <tfoot>
                          <tr>
                            <th>Group Name</th>
                            <th>Icon</th>
                            <th>Action</th>
                          </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!-- End list Team Details -->
</div>
<!-- end box Team Details -->

<!-- Team Model -->
<ng-template #teamModel class="col-lg-7">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Team</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="newTeam(form.value)" class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label for="txtCategory" class="col-sm-2 control-label">Team</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="txtCategory" name="name" placeholder="Enter Team Name" ngModel>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="button" (click)="modalRef.hide()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Create New</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>
</ng-template>
<!-- End Team Model -->
<!-- Group Model -->
<ng-template #groupModel class="col-lg-7">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Team</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- form for creating new Group -->
    <form #form="ngForm" (ngSubmit)="newGroup(form.value,team_name)" encrypt="multipart/form-data"
          class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label for="txtCategory" class="col-sm-2 control-label">Group Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="txtGroupName" name="name" placeholder="Enter Team Name" ngModel>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label for="txtCategory" class="col-sm-2 control-label">Icon</label>
          <div class="col-sm-10">
            <input id="photo" (change)="fileChangeEvent($event)" type="file"/>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="button" (click)="modalRef.hide()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Create New</button>
      </div>
      <!-- /.box-footer -->
    </form>
    <!-- end form for creating new Group -->
  </div>
</ng-template>
<!-- Group Team Model -->

<ng-template #groupEdModel class="col-lg-7">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Group</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- form for creating new Group -->
    <form #form="ngForm" (ngSubmit)="updateGroupIcon(form.value,team_name)" encrypt="multipart/form-data"
          class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <input type="text" class="form-control" disabled style="visibility: hidden" id="txtId" name="_id" placeholder="Enter Team Name" [(ngModel)]="_id">
          <label for="txtEdGroupName" class="col-sm-2 control-label">Group Name</label>
          <div class="col-sm-10">
            <input type="text" disabled class="form-control" id="txtEdGroupName" name="name" placeholder="Enter Team Name" [(ngModel)]="groupName">
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label for="txtCategory" class="col-sm-2 control-label">Icon</label>
          <div class="col-sm-10">
            <input id="edphoto" (change)="fileChangeEvent($event)" type="file"/>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="button" (click)="modalRef.hide()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Update Logo</button>
      </div>
      <!-- /.box-footer -->
    </form>
    <!-- end form for creating new Group -->
  </div>
</ng-template>
<!-- Group Team Model -->
