
<ng-template #template class="col-lg-7">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Members</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form #form="ngForm" (ngSubmit)="submitNewMember(form.value)" class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label for="txtName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="txtName" name="name" placeholder="Full Name" ngModel >
            </div>
          </div>
          <div class="form-group">
            <label for="txtMobile" class="col-sm-2 control-label">Mobile</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" name="mob" id="txtMobile" placeholder="+91-9876543210" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="txtEmail" class="col-sm-2 control-label">email</label>

            <div class="col-sm-10">
              <input type="email" class="form-control" name="email" id="txtEmail" placeholder="example@gmail.com" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="txttelegram" class="col-sm-2 control-label">Telegram iD</label>

            <div class="col-sm-10">
              <input type="text" name="telegram" class="form-control" id="txttelegram" placeholder="Telegram ID" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="txtpalce" class="col-sm-2 control-label">place</label>

            <div class="col-sm-10">
              <input type="text" name="place" class="form-control" id="txtpalce" placeholder="palce" ngModel>
            </div>
          </div>

          <div class="form-group">
            <label for="txtName" class="col-sm-2 control-label">Profile Pic</label>
            <div class="col-sm-10">
              <div id="profile-container">
                <img style="background:#9d9d9d" [src]="data">
              </div>
              <input id="imageUpload" type="file" accept=".png, .jpg, .jpeg" (change)="fileChangeListener($event)"
                     name="profile_photo" placeholder="Photo" required="" capture>
            </div>
          </div>

        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let team of teams">
            <mat-expansion-panel-header>
              <mat-panel-title class="primary">
                Category Name
              </mat-panel-title>
              <mat-panel-description>
                {{team.name}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list role="list" *ngFor="let group of team.groups">
              <!--<ng-template ngIf=""></ng-template> -->
              <mat-checkbox  name="group" (change)="setValue($event,group._id)"  >
                <img src={{group.icon}} style="width:50px;height:50px">
                <mat-list-item>{{group.name}}</mat-list-item>
              </mat-checkbox>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="button" (click)="modalRef.hide()" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-info pull-right">Create New</button>
        </div>
        <!-- /.box-footer -->
      </form>
  </div>
</ng-template>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Data Tables
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">Data tables</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <button type="button" class="btn btn-success right-side" (click)="openModal(template)">Create new</button>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Name</th>
              <th>Profile</th>
              <th>mobile Number</th>
              <th>Email</th>
              <th>Telegram ID</th>
              <th>place</th>
              <th>status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of members">
              <td>{{member.name}}</td>
              <td><img src="{{member.image}}" style="width: 50px;height: 50px"></td>
              <td>{{member.mob}}</td>
              <td>{{member.email}}</td>
              <td>{{member.telegram}}</td>
              <td>{{member.place}}</td>
              <td>
                <div *ngIf="member.status==true">
                  <a (click)="inactive(member._id)">
                    <i class="fa fa-fw  fa-2x text-success fa-check-circle"></i>
                  </a>
                </div>
                <div *ngIf="member.status==false">
                  <a  (click)="active(member._id)">
                    <i class="fa fa-fw   fa-times-circle fa-2x text-danger"></i>
                  </a>
                </div>
              </td>
              <td>
                <a (click)="delete(member._id)">
                  <i class="fa fa-fw   fa-trash fa-2x text-danger"></i>
                </a>
                <a (click)="editOpenModal(editTemp,member._id)">
                  <i class="fa fa-fw   fa-edit fa-2x text-primary"></i>
                </a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>Name</th>
              <th>Profile</th>
              <th>mobile Number</th>
              <th>Email</th>
              <th>Telegram ID</th>
              <th>place</th>
              <th>status</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>

<ng-template #editTemp class="col-lg-7">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Members</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="updateMember(form.value)" class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label for="txtEdName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="txtEdName"   name="name" placeholder="Full Name" [(ngModel)]="name"   >
          </div>
        </div>
        <div class="form-group">
          <label for="txtEdMobile" class="col-sm-2 control-label">Mobile</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" name="mob" id="txtEdMobile" placeholder="+91-9876543210" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="txtEdEmail" class="col-sm-2 control-label">email</label>

          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" id="txtEdEmail" placeholder="example@gmail.com" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="txtEdtelegram" class="col-sm-2 control-label">Telegram iD</label>

          <div class="col-sm-10">
            <input type="text" name="telegram" class="form-control" id="txtEdtelegram" placeholder="Telegram ID" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="txtEdpalce" class="col-sm-2 control-label">place</label>

          <div class="col-sm-10">
            <input type="text" name="place" class="form-control" id="txtEdpalce" placeholder="palce" ngModel>
          </div>
        </div>

        <div class="form-group">
          <label for="txtName" class="col-sm-2 control-label">Profile Pic</label>
          <div class="col-sm-10">
            <div id="Edprofile-container">
              <img style="background:#9d9d9d" [src]="data">
            </div>
            <input id="EdimageUpload" type="file" accept=".png, .jpg, .jpeg" (change)="fileChangeListener($event)"
                   name="profile_photo" placeholder="Photo" required="" capture>
          </div>
        </div>

      </div>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let team of teams">
          <mat-expansion-panel-header>
            <mat-panel-title class="primary">
              Category Name
            </mat-panel-title>
            <mat-panel-description>
              {{team.name}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list" *ngFor="let group of team.groups">
            <!--<ng-template ngIf=""></ng-template> -->
            <mat-checkbox  name="group" (change)="setValue($event,group._id)"  >
              <img src={{group.icon}} style="width:50px;height:50px">
              <mat-list-item>{{group.name}}</mat-list-item>
            </mat-checkbox>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="button" (click)="modalRef.hide()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Create New</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>
</ng-template>





