
<ng-template #template class="col-lg-7">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Members</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form #form="ngForm" (ngSubmit)="submitNewMember(form.value)" class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label for="txtName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="txtName" name="name" placeholder="Full Name" ngModel >
            </div>
          </div>
          <div class="form-group">
            <label for="txtMobile" class="col-sm-2 control-label">Mobile</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" name="mob" id="txtMobile" placeholder="+91-9876543210" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="txtEmail" class="col-sm-2 control-label">email</label>

            <div class="col-sm-10">
              <input type="email" class="form-control" name="email" id="txtEmail" placeholder="example@gmail.com" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="txttelegram" class="col-sm-2 control-label">Telegram iD</label>

            <div class="col-sm-10">
              <input type="text" name="telegram" class="form-control" id="txttelegram" placeholder="Telegram ID" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="txtpalce" class="col-sm-2 control-label">place</label>

            <div class="col-sm-10">
              <input type="text" name="palce" class="form-control" id="txtpalce" placeholder="palce" ngModel>
            </div>
          </div>

          <div class="form-group">
            <label for="txtName" class="col-sm-2 control-label">Profile Pic</label>
            <div class="col-sm-10">
              <div id="profile-container">
                <img style="background:#9d9d9d" [src]="data">
              </div>
              <input id="imageUpload" type="file" accept=".png, .jpg, .jpeg" (change)="fileChangeListener($event)"
                     name="profile_photo" placeholder="Photo" required="" capture>
            </div>
          </div>

        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let team of teams">
            <mat-expansion-panel-header>
              <mat-panel-title class="primary">
                Category Name
              </mat-panel-title>
              <mat-panel-description>
                {{team.name}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list role="list" *ngFor="let group of team.groups">
              <!--<ng-template ngIf=""></ng-template> -->
              <mat-checkbox  name="group" (change)="setValue($event,group._id)"  >
                <img src={{group.icon}} style="width:50px;height:50px">
                <mat-list-item>{{group.name}}</mat-list-item>
              </mat-checkbox>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="button" (click)="modalRef.hide()" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-info pull-right">Create New</button>
        </div>
        <!-- /.box-footer -->
      </form>
  </div>
</ng-template>



<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <button type="button" class="btn btn-success right-side" (click)="openModal(template)">Create new</button>
      <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding" >
      <div class="">
        <div class="col-md-4" *ngFor="let member of members">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">

              <h3 class="profile-username text-center">{{member.name}}</h3>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Mobile</b> <a class="pull-right">{{member.mob}}</a>
                </li>
                <li class="list-group-item">
                  <b>email</b> <a class="pull-right">{{member.email}}</a>
                </li>
                <li class="list-group-item">
                  <b>Address</b> <a class="pull-right">{{member.address}}</a>
                </li>
              </ul>
              <a type="button" (click)="openEditModel(editTemplate,member)" class="btn btn-primary btn-block"><b>Edit Detail</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>



